<a href="https://colab.research.google.com/github/ttcielott/python_basic/blob/main/python_control_flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Control Flow

**What is control flow?**
The sequence in which your code is run.

* Conditional Statements
* Boolean Expressions
* For and While Loops
* Break and Continue
* Zip and Enumerate
* List Comprehension

Remember that $=$ is an assignment operator while $==$ is a comparison operator.

In [ ]:
weather = 'cloudy'

if weather == 'rainy':
  print('Take an umbrella.')
elif weather == 'cloudy':
  print('Why don\'t you take an unbrella?')
else:
  print('Have a lovely day.')

Why don't you take an unbrella?

**Indentation**

In Python, we use indentation to enclose blocks of code.
For example, *if statements* use indentation to tell Python what code is inside and outside of different clauses.

**Spaces or Tabs**
Spaces are the preferred indentation method.

Tabs should be used solely to remain consistent with code that is already indented with tabs.

Python disallows mixing tabs and spaces for indentation.

# Boolean Expression
*if statement* must be a boolean expression that evaluates to either True or False.

In [ ]:
weight = 53
height = 1.58
if 18.5 <= weight / height**2 < 25:
    print("BMI is considered 'normal'")

BMI is considered 'normal'

## Good & Bad Boolean Examples

* Don't compare a boolean variable with ==True or ==False
The comparision isn't necessary, since the boolean variable itself is a boolean expression. 
```
# bad example
is_cold = True
if is_cold == True:
   print('The weather is cold!')
```
```
# good example
is_cold = True
if is_cold:
   print('The weather is cold!')
```
If you want to check whether a boolean is False, use the not operator. 
```
# good example
is_cold = True
if not is_cold:
   print('The weather is NOT cold!')
```

* Don't use True or False as condition. 
```
# bad example
if True:
   print('This indented code will always get run.')
```
* Don't use any condition that you know will always evaluate to True.

* Be careful writing expressions that use logical operators
```
# bad example
if weather == 'snow' or 'rain':  # 'rain' part is not boolean, but string
   print('Wear boots!)
```

## Truth Value Testing

If we use a non-boolean object as a condition in an if statement in place of boolean expression, Python will check for its truth value and use that to decide whether or not to run the indented code.

In [ ]:
# look how if statement evaluate a string
if 'hello':
  print('The string, hello was evaluated to True.')

the string, hello was evaluated to True.

In [ ]:
# however, empty string is evaluated to False
if '':
  print('The string, hello was evaluated to True.')

In [ ]:
if ['a']:
  print('The string, hello was evaluated to True.')

The string, hello was evaluated to True.

In [ ]:
if 100:
  print('The string, hello was evaluated to True.')

The string, hello was evaluated to True.

**The Built-in Objects that are Considered False in Python**

In [ ]:
# constants defined to be False: None, False
if None:
  print('See if it\'s True.')

In [ ]:
if False:
  print('See if it\'s True.')

In [ ]:
# zero of any numeric type
if 0:
  print('See if it\'s True.')
if 0.0:
  print('See if it\'s True.')
if 0j:
  print('See if it\'s True.')
# if decimal(0):
  # print('See if it\'s True.')
#if fraction(0, 1):
  # print('See if it\'s True.')

In [ ]:
# empty sequences and collections
if "":
  print('See if it\'s True.')
if ():
  print('See if it\'s True.')
if []:
  print('See if it\'s True.')
if {}:
  print('See if it\'s True.')
if range(0):
  print('See if it\'s True.')

In [ ]:
list(range(0))

[]

## Practice of Range

In [ ]:
# check the output of this code
list(range(0, -5))

[]

# Counter Dictionary

In [ ]:
words = ['good', 'extraordinary', 'transcendent', 'era-defining', 'terrific', 'good', 'transcendent']

counter = {}
# count the words in the list using dictionary
for word in words:
  if word not in counter:
    counter[word] = 1
  else:
    counter[word] += 1
counter

{'good': 2,
 'extraordinary': 1,
 'transcendent': 2,
 'era-defining': 1,
 'terrific': 1}

In [ ]:
# how to get the maximum value of dictionary
# not max(counter), which will return the largest key (string)
max(counter.values())

2

In [ ]:
# max(counter), which will return the largest key (string)
max(counter)

'transcendent'

In [ ]:
counter.get('great',0)

0

In [ ]:
# shall we make it simpler?
words = ['good', 'extraordinary', 'transcendent', 'era-defining', 'terrific', 'good', 'transcendent']

counter = {}
# count the words in the list using get method
for word in words:
  # if there is no word, 0 + 1
  # if there is a word among keys, current number + 1
  counter[word] = counter.get(word, 0) + 1

## Iterate through Dictionary

In [ ]:
for e in counter:
  print(e)

good
extraordinary
transcendent
era-defining
terrific

It only gives you access to keys. What if you want to print values as well?

In [ ]:
# add iterable.items()
for key, item in counter.items():
  print(key, item)

good 2
extraordinary 1
transcendent 2
era-defining 1
terrific 1

In [ ]:
fruit_count, not_fruit_count = 0, 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

# count the number of fruits or not fruits
for key, count in basket_items.items():
  if key in fruits:
    fruit_count += count
  else:
    not_fruit_count += count

print('The Number of Fruits is {}. The Number of Non-Fruit is {}.'.format(fruit_count, not_fruit_count))

The Number of Fruits is 23. The Number of Non-Fruit is 11.

# [Must Review] for loop, while with break and continue

* break: terminates a loop
* continue: skips one iteration of a loop

## Quiz:

Write a loop with a break statement to create a string, news_ticker, that is exactly 140 characters long. You should create the news ticker by adding headlines from the headlines list, inserting a space in between each headline. If necessary, truncate the last headline in the middle so that news_ticker is exactly 140 characters long.

Remember that break works in both for and while loops. Use whichever loop seems most appropriate. Consider adding print statements to your code to help you resolve bugs.

In [ ]:
headlines = ["Local Bear Eaten by Man",
             "Legislature Announces New Laws",
             "Peasant Discovers Violence Inherent in System",
             "Cat Rescues Fireman Stuck in Tree",
             "Brave Knight Runs Away",
             "Papperbok Review: Totally Triffic"]

news_ticker = ""

for headline in headlines:
  news_ticker += headline + ' '
  if len(news_ticker) >= 140:
    news_ticker = news_ticker[:140]
    break # here, we want to stop the iteration
len(news_ticker)

140

## [Must Review] Coding Quiz: Check for Prime Numbers
<br>
Prime numbers are whole numbers that have only two factors: 1 and the number itself. The first few prime numbers are 2, 3, 5, 7.

For instance, 6 has four factors: 1, 2, 3, 6.<br>
<br> 1 X 6 = 6
<br> 2 X 3 = 6
<Br> So we know 6 is not a prime number.
<br>
In the following coding environment, write code to check if the numbers provided in the list check_prime are prime numbers.
<br>
<br>
If the numbers are prime, the code should print "[number] is a prime number."
If the number is NOT a prime number, it should print "[number] is not a prime number", and a factor of that number, other than 1 and the number itself: "[factor] is a factor of [number]".

In [ ]:
## Your code should check if each number in the list is a prime number
check_prime = [26, 39, 51, 53, 57, 79, 85]

## write your code here
## HINT: You can use the modulo operator to find a factor
for num in check_prime:
  for factor in range(2, num):
    if num % factor == 0:
      print('{} is NOT a prime number, because {} is a factor of {}\n'.format(num, factor, num))
      break
    else:
      if num == factor + 1:
        print('{} is a prime number \n'.format(num))

26 is NOT a prime number, because 2 is a factor of 26

39 is NOT a prime number, because 3 is a factor of 39

51 is NOT a prime number, because 3 is a factor of 51

53 is a prime number

57 is NOT a prime number, because 3 is a factor of 57

79 is a prime number

85 is NOT a prime number, because 5 is a factor of 85

# Zip & Enumerate

Zip returns an iterator that combines multiple iterables into one sequence of tuple. Each tuple contains the elements in that position from all the iterables.

In [ ]:
items = ['bananas', 'mattresses', 'dog kennels', 'machine', 'cheeses']
weights = [15, 34, 42, 120, 5]

# want to combine two lists as a pair for each
print(list(zip(items, weights)))

[('bananas', 15), ('mattresses', 34), ('dog kennels', 42), ('machine', 120), ('cheeses', 5)]

In [ ]:
# or iterate through it with for loop if you want to print values
for cargo in zip(items, weights):
  print(cargo[0], cargo[1])

bananas 15
mattresses 34
dog kennels 42
machine 120
cheeses 5

In [ ]:
# or you can unpack each tuples with for loop like this.
for item, weight in zip(items, weights):
  print(item, weight)

bananas 15
mattresses 34
dog kennels 42
machine 120
cheeses 5

In [ ]:
# zip
manifest = zip(items, weights)

# unzip it using asterisk
items, weights = zip(*manifest)
print(items)
print(weights)

('bananas', 'mattresses', 'dog kennels', 'machine', 'cheeses')
(15, 34, 42, 120, 5)

**Quiz: Transpose with Zip**
<br>
Use zip to transpose data from a 4-by-3 matrix to a 3-by-4 matrix. There's actually a cool trick for this! Feel free to look at the solutions if you can't figure it out.

In [ ]:
data = ((0, 1, 2), (3, 4, 5), (6, 7, 8), (9, 10, 11))

data_transpose = tuple(zip(*data))# replace with your code
print(data_transpose)

((0, 3, 6, 9), (1, 4, 7, 10), (2, 5, 8, 11))

In [ ]:
items = list(items)
weights = list(weights)

# iterate through the list of tuples containing index and value of each item in the list
for i, item in zip(range(len(items)), items):
  print(i, item)

# or simply use enumerate function
for i, item in enumerate(items):
  print(i, item)

0 bananas
1 mattresses
2 dog kennels
3 machine
4 cheeses
0 bananas
1 mattresses
2 dog kennels
3 machine
4 cheeses

# List Comprehension with if,else statement

In [ ]:
# add an conditional
squares = [x**2 for x in range(9) if x %2 == 0]
squares

[0, 4, 16, 36, 64]

However, when adding an else, it goes differently.
You should put conditionals before **for x in range(9)**

In [ ]:
squares = [x**2 if x % 2 == 0 else x + 3 for x in range(9)]
squares

[0, 4, 4, 6, 16, 8, 36, 10, 64]